[Unit]
# Abschnitt wird im Artikel systemd/Units beschrieben
Description=Arma 3 Server

[Service]
Type=simple
ExecStart=/srv/steamlibrary/steamapps/common/arma3/arma3.sh
User=root
Group=root
WorkingDirectory=/srv/steamlibrary/steamapps/common/arma3

[Install]
# Abschnitt wird im Artikel systemd/Units beschrieben
WantedBy=multi-user.target
